@import "variables";

body {
  background-color: var(--background-color);
  color: var(--main-color);
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: var(--text-font-size);
}

a {
  color: var(--link-color);

  &:hover {
    color: var(--link-hover-color);
  }
}

input.form-control {
  background-color: var(--navbar-color) !important;
  border-color: var(--button-color) !important;
  color: var(--main-color) !important;

  &::placeholder {
    color: var(--placeholder-color) !important;
    opacity: 0.5;
  }
}

.navbar {
  background-color: var(--navbar-color);
}

.btn-outline-primary {
  color: var(--text-color) !important;
  border-color: var(--button-color) !important;
  outline-color: var(--button-color) !important;

  &.active {
    color: var(--button-hover-color) !important;
    background-color: var(--main-color) !important;
    outline-color: var(--button-color) !important;
  }

  &.show {
    color: var(--button-hover-color) !important;
    background-color: var(--button-hover-background-color) !important;
    outline-color: var(--button-color) !important;
  }

  &:hover {
    color: var(--button-hover-color) !important;
    background-color: var(--button-hover-background-color) !important;
    outline-color: var(--button-color) !important;
  }
}

.navbar .navbar-toggler {
  color: var(--button-color);
  border-color: var(--button-color);

  i {
    font-size: 1.75rem;
    color: var(--main-color);
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  filter: grayscale(100%);
}

div .offcanvas {
  background-color: var(--offcanvas-background-color);
  font-size: 24px;
}

.dropdown-menu {
  background-color: var(--offcanvas-background-color) !important;

  li .dropdown-item {
    color: var(--main-color) !important;

    &:hover {
      color: var(--offcanvas-background-color) !important;
      background-color: var(--button-hover-background-color) !important;
    }
  }
}

table {
  border-collapse: collapse;

  tbody {
    line-height: 1;
  }
}

table thead tr {
  color: var(--header-color);
  font-size: var(--header-font-size);
  white-space: nowrap;
  overflow-x: hidden;
}

table tbody tr {
  color: var(--text-color);
  font-size: var(--text-font-size);
  white-space: nowrap;
  overflow-x: hidden;
}

.text-highlight {
  color: var(--text-dark-highlight-color);
}

.dropdown-pagination {
  white-space: nowrap;
}

span.input-group-text {
  color: var(--main-color);
  background-color: var(--navbar-color);
  border-color: var(--button-color);
}

div {
  &.accordion-item {
    background-color: var(--background-color);

    .accordion-button {
      background: var(--navbar-color);
      color: var(--main-color);
    }
  }
}
