@import "variables";

body {
  background-color: $background-color;
  color: $main-color;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

input.form-control {
  background-color: $navbar-color !important;
  border-color: $button-color !important;
  color: $main-color !important;

  &::placeholder {
    color: $input-placeholder-color !important;
    opacity: 0.5;
  }
}

.navbar {
  background-color: $navbar-color;
}

.btn-outline-primary {
  color: $main-color !important;
  border-color: $button-color !important;
  outline-color: $button-color !important;

  &.active {
    color: $button-hover-color !important;
    background-color: $main-color !important;
    outline-color: $button-color !important;
  }

  &.show {
    color: $button-hover-color !important;
    background-color: $main-color !important;
    outline-color: $button-color !important;
  }

  &:hover {
    color: $button-hover-color !important;
    background-color: $main-color !important;
    outline-color: $button-color !important;
  }
}

.navbar .navbar-toggler {
  color: $button-color;
  border-color: $button-color;

  i {
    font-size: 1.75rem;
    color: $main-color;
  }
}

div .offcanvas {
  background-color: $offcanvas-background-color;
}

