$main-color: #de9e41;
$background-color: #10141f;
$navbar-color: #090a14;
$offcanvas-background-color: #151d28;
$link-color: #4f8fba;
$link-hover-color: #3c5e8b;
$button-color: #be772b;
$button-hover-color: $offcanvas-background-color;
$button-hover-background-color: $button-color;
$input-placeholder-color: #752438;