// Palette

$color-midnight-express: #172038;
$color-catalina-blue: #253a5e;
$color-st-tropaz: #3c5e8b;
$color-steel-blue: #4f8fba;
$color-seagull: #73bed3;
$color-sinbad: #a4dddb;

$color-racing-green: #19332d;
$color-parsley: #25562e;
$color-la-palma: #468232;
$color-asparagus: #75a743;
$color-conifer: #a8ca58;
$color-deco: #d0da91;

$color-toledo-1: #4d2b32;
$color-bole: #7a4841;
$color-santa-fe: #ad7757;
$color-pale-taupe: #c09473;
$color-cashmere: #d7b594;
$color-givry: #e7d5b3;

$color-toledo-2: #341c27;
$color-moccaccino: #602c2c;
$color-korma: #884b2b;
$color-pirate-gold: #be772b;
$color-fire-bush: #de9e41;
$color-chenin: #e8c170;

$color-blackcurrant: #241527;
$color-blackberry: #411d31;
$color-claret: #752438;
$color-milano-red: #a53030;
$color-dark-coral: #cf573c;
$color-tree-poppy: #da863e;

$color-jaguar: #1e1d39;
$color-jagger: #402751;
$color-eminence: #7a367b;
$color-medium-red-violet: #a23e8c;
$color-mulberry: #c65197;
$color-kobi: #df84a5;

$color-black-russian-2: #090a14;
$color-black-russian-1: #10141f;
$color-black-pearl: #151d28;
$color-tangaroa: #202e37;
$color-atomic: #394a50;
$color-pale-sky: #577277;
$color-submarine: #819796;
$color-conch: #a8b5b2;
$color-jet-stream: #c7cfcc;
$color-saltpan: #ebede9;


:root {
  // Colors
  --main-color: #{$color-fire-bush};
  --main-secondary-color: #{$color-pirate-gold};
  --background-color: #{$color-black-russian-1};
  --background-dark-color: #{$color-black-russian-2};
  --background-light-color: #{$color-black-pearl};
  --placeholder-color: #{$color-claret};

  // Text
  --text-font-size: 15px;
  --text-color: #{$color-givry};
  --text-light-highlight-color: var(--main-secondary-color);
  --text-dark-highlight-color: #{$color-dark-coral};
  --text-error-color: var(--bs-danger);

  // Buttons
  --button-color: var(--main-secondary-color);
  --button-hover-color: var(--background-color);
  --button-hover-background-color: var(--button-color);

  // Ladder
  --you-color: var(--background-dark-color);
  --you-background-color: var(--text-dark-highlight-color);
  --promoted-color: var(--text-light-highlight-color);
  --promoted-background-color: var(--background-dark-color);

  // Chat
  --header-color: var(--main-color);
  --header-font-size: 14px;

  // Navbar
  --navbar-color: var(--background-dark-color);
  --offcanvas-background-color: var(--background-light-color);

  // Link
  --link-hover-color: #{$color-st-tropaz};
  --link-color: #{$color-steel-blue};
}

:root.light {
  // Colors
  --main-color: #{$color-black-pearl};
  --main-secondary-color: #{$color-black-russian-2};
  --background-color: #{$color-saltpan};
  --background-dark-color: #{$color-conch};
  --background-light-color: #{$color-jet-stream};
  --placeholder-color: #{$color-claret};

  // Text
  --text-font-size: 15px;
  --text-color: #{$color-black-russian-1};
  --text-light-highlight-color: var(--main-secondary-color);
  --text-dark-highlight-color: #{$color-blackberry};

  // Buttons
  --button-color: var(--main-secondary-color);
  --button-hover-color: var(--background-color);
  --button-hover-background-color: var(--button-color);

  // Ladder
  --you-color: var(--background-dark-color);
  --you-background-color: var(--text-dark-highlight-color);
  --promoted-color: var(--text-light-highlight-color);
  --promoted-background-color: var(--background-dark-color);

  // Chat
  --header-color: var(--main-color);
  --header-font-size: 14px;

  // Navbar
  --navbar-color: var(--background-dark-color);
  --offcanvas-background-color: var(--background-light-color);

  // Link
  --link-hover-color: #{$color-st-tropaz};
  --link-color: #{$color-steel-blue};
}