// Palette
$color-midnight-express: #172038;
$color-catalina-blue: #253a5e;
$color-st-tropaz: #3c5e8b;
$color-steel-blue: #4f8fba;
$color-seagull: #73bed3;
$color-sinbad: #a4dddb;

$color-racing-green: #19332d;
$color-parsley: #25562e;
$color-la-palma: #468232;
$color-asparagus: #75a743;
$color-conifer: #a8ca58;
$color-deco: #d0da91;

$color-toledo-1: #4d2b32;
$color-bole: #7a4841;
$color-santa-fe: #ad7757;
$color-pale-taupe: #c09473;
$color-cashmere: #d7b594;
$color-givry: #e7d5b3;

$color-toledo-2: #341c27;
$color-moccaccino: #602c2c;
$color-korma: #884b2b;
$color-pirate-gold: #be772b;
$color-fire-bush: #de9e41;
$color-chenin: #e8c170;

$color-blackcurrant: #241527;
$color-blackberry: #411d31;
$color-claret: #752438;
$color-milano-red: #a53030;
$color-dark-coral: #cf573c;
$color-tree-poppy: #da863e;

$color-jaguar: #1e1d39;
$color-jagger: #402751;
$color-eminence: #7a367b;
$color-medium-red-violet: #a23e8c;
$color-mulberry: #c65197;
$color-kobi: #df84a5;

$color-black-russian-2: #090a14;
$color-black-russian-1: #10141f;
$color-black-pearl: #151d28;
$color-tangaroa: #202e37;
$color-atomic: #394a50;
$color-pale-sky: #577277;
$color-submarine: #819796;
$color-conch: #a8b5b2;
$color-jet-stream: #c7cfcc;
$color-saltpan: #ebede9;


// Colors
$main-color: #de9e41;
$background-color: #10141f;
$navbar-color: #090a14;
$offcanvas-background-color: #151d28;
$link-color: #4f8fba;
$link-hover-color: #3c5e8b;
$button-color: #be772b;
$button-hover-color: $offcanvas-background-color;
$button-hover-background-color: $button-color;
$input-placeholder-color: #752438;
$header-color: $main-color;
$text-color: #e7d5b3;
$text-highlight-color: #cf573c;

// Fonts
$text-font-size: 15px;
$header-font-size: 14px;