body {
    line-height: 1;
}

#exportButton {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100px;
}


#QOLButton {
    position: absolute;
    bottom: 0px;
    left: -31px;
    width: auto;
}

#importButton {
    position: absolute;
    bottom: 0px;
    right: 120px;
    width: 100px;
}

.offCanvasOptions {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 80%;
    font-size: 18px
}

table {
    border-collapse: collapse
}

/* Ensure no space between cells   */
tr.strikeout td {
    position: relative
}

/* Setup a new coordinate system   */
tr.strikeout td:before { /* Create a new element that       */
    content: " "; /* …has no text content            */
    position: absolute; /* …is absolutely positioned       */
    left: 0;
    top: 50%;
    width: 100%; /* …with the top across the middle */
    border-bottom: 1px solid #000; /* …and with a border on the top   */
}