<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fair Game</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="//cdn.rawgit.com/erosson/swarm-numberformat/v0.4.0/dist/swarm-numberformat.min.js"></script>
    <script th:src="@{/fair/js/cookie.js}" type="text/javascript"></script>
    <script th:src="@{/fair/js/morefair.js}" type="text/javascript"></script>
</head>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<body>
<div class="m-1" style="overflow-y: auto; overflow-x: auto">
    <table class="table table-sm caption-top table-borderless">
        <caption>
            <nav class="navbar navbar-light bg-light" style="border: 0px solid green">
                <div class="container-fluid" style="border: 0px solid yellow">
                    <div class="col text-start" style="border: 0px solid black">
                        <p id="ladderNumber"></p>
                    </div>
                    <div class="col text-center" style="border: 0px solid black">
                        <p id="rankerCount"></p>
                    </div>
                    <div class="col-4 text-end" style="border: 0px solid black">
                        <p id="usernameText"></p>
                    </div>
                </div>
            </nav>
        </caption>
        <thead>
        <tr class="thead-light">
            <th class="col-1">#</th>
            <th class="col-6">Username</th>
            <th class="col-2 text-end">Power</th>
            <th class="col-3 text-end">Points</th>
        </tr>
        </thead>
        <tbody class="" id="ladderBody">
        </tbody>
    </table>
</div>

<nav class="navbar navbar-light bg-light fixed-bottom">
    <div class="container-fluid">
    </div>
    <div class="container-fluid">
        <form class="col-9">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                     <a class=link-secondary href="#" id="usernameLink" onclick="promptNameChange()"></a>
                </span>
                <input aria-describedby="basic-addon1" aria-label="Username" class="form-control shadow-none"
                       placeholder="Chad is listening..."
                       type="text">
                <button class="btn btn-primary shadow-none" type="submit">Send</button>
            </div>
        </form>
        <div class="col-2 btn-group btn-group" data-html="true" data-toggle="tooltip"
             id="buyButtonGroup" role="group" title="Multi: 4 <br> Cost: 2">
            <button class="col btn btn-outline-dark btn shadow-none text-center"
                    id="multiButton">
                +1 Multi
            </button>
            <button class="col btn btn-outline-dark btn shadow-none text-center"
                    id="biasButton" title="Tooltip on top">
                +1 Bias
            </button>
        </div>

    </div>
</nav>
<script>
    setup();
</script>
</body>
</html>