<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add CSS and JS to Thymeleaf</title>
    <link th:href="@{/styles/spectre/spectre.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/morefair.js}"></script>
    <script type="text/javascript" th:src="@{/js/http-request.js}"></script>
</head>
<body>
<table class = "table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Username</th>
        <th>Points</th>
    </tr>
    </thead>
    <tbody id="ladderBody">
    <!--<tr th:each="user: ${users}">
        <td th:text="${user.rank}">1</td>
        <td th:text="${user.username}">user</td>
        <td th:text="${user.points}">0</td>
    </tr>-->
    </tbody>
</table>
<button class="btn" id="newUser">Click Me</button>
<script>
    let testUser = {username: 'test', rank:ladder.data.length+1, points:0};
    document.getElementById("newUser").addEventListener("click", () => {
        postJSON('/user', testUser, req => {
            if(req.status === 201){
                getLadder();
            }else{
                return;
            }
        });
    });

    getLadder();
    window.setInterval(calculatePoints,1000);
</script>
</body>
</html>